body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}


.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;

}

.optionWindow {
  display: none;
  z-index: 55000;
  filter: none;
  position: absolute;
  width: 60%;
  height: 80%;
  top: 10%;
  left: 20%;
  background-color: antiquewhite;
  -webkit-filter: none;
}

.closeButton {
  position: absolute;
  width: 20px;
  height: 20px;
  /* aspect-ratio: 1/1; */
  left: 95%;
  top: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media(max-width:600px) and (min-width:550px) {
  .closeButton {
    left: 92%
  }
}

@media (max-width:550px) and (min-width:350px) {
  .closeButton {
    left: 90%;
  }
}

@media (max-width:350px) {
  .closeButton {
    left: 88%;
  }
}

@media(max-width:800px) and (min-width:600px) {
  .closeButton {
    left: 94%
  }
}